.Wrapper {
  position: relative;
  background-image: url("../../../public/main.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}